.movie {
    min-width: 13rem;
    flex-grow: 1;
    height: calc(100% - 0.5rem);
    list-style: none;
    position: relative;
    margin-bottom: 2rem;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s ease;
    border-radius: 0.1875rem;
    font-family: 'Poppins', sans-serif;

    &:hover {
        box-shadow: rgba(77, 238, 235, 0.233) 0px 10px 50px;
    }

    &:hover img {
        transform: scale(1.1);
    }

    img {
        width: 100%;
        transition: all 0.2s ease;
    }

    &__info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.3rem;

            .watchlist {
                background-color: rgba(0, 0, 0, 0.514);
                border: none;
                border-radius: 50%;
                padding: 0;
                height: 1.75rem;
                width: 1.75rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &__icon {
                    color: #4DEEEA;
                    height: 1.5rem;
                    width: 1.5rem;
                }
            }

            span {
                color: white;
                background-color: black;
                width: 1.75rem;
                height: 1.75rem;
                border-radius: 0.1875rem;
                border: 1px solid white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                font-family: 'Poppins', sans-serif;
            }

        }

        &__title {
            color: white;
            font-weight: 600;
            background-color: rgba(0, 0, 0, 0.459);
            backdrop-filter: blur(3px);
            padding: 1rem 0.5rem;
        }
    }
}

@media (min-width: 545px) {
    .movie {
        flex-grow: 0;
        width: 13rem;

        img {
            height: 20rem;
        }
    }
}