.searchQuery {
    padding: 0 1rem;
    color: #ee4dee;
    text-transform: capitalize;
}

@media (min-width: 600px) {
    .searchQuery {
        font-size: 3rem;
    }
}

.searchResult__list {
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 14vh;
}